body {
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(255, 166, 0, 0.664);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

header img {
    padding: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: black;
    background-color: rgb(198, 230, 250);
    padding: 3px;
    border-radius: 3px;
    font-family: Helvetica, sans-serif;
}

nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: Lora, Arial, Helvetica, sans-serif;
}

h3 {
    text-decoration: underline;
}

.hero {
    position: relative;
    text-align: center;
    justify-self: center;
    width: 45%;
}

.hero h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: black;
    font-size: xx-large;
    background-color: rgba(255, 166, 0);
    padding: 3px;
    border-radius: 5px;
    z-index: 1;
}

.hero h3 {
    text-decoration: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: rgba(255, 166, 0);
    padding: 3px;
    border-radius: 3px;
    z-index: 1;
}

.hero img {
    width: 80%;
    overflow: hidden;
    border-radius: 15px;
}

main {
    justify-items: center;
    text-align: center;
}

main img {
    padding: 5px;
}

p {
    font-family: Helvetica, sans-serif;
}

footer {
    background-color: rgba(135, 207, 235, 0.726);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / -1;
}