body {
    width: 100%;
    margin: 0px;
}

header {
    background-color: rgb(50, 170, 170);
}

.hero {
    display: flex;
    justify-self: center;
    padding: 5px;
    position: relative;
    width: 55%;
    height: 50%;
}

.title {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

/** h1 for looks only **/
h1 {
    margin-bottom: 0;
    padding-left: 10px;
}

.image-item {
    grid-row: span 2;
    grid-column: 1;
    align-self: center;
    padding: 10px;
}

@media (max-width: 938px) {
    .heading {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }

    nav {
        display: none;
        width: 100%;
        align-items: center;
    }

    nav ul.open {
        grid-row: 3;
    }

    nav.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: rgb(199, 250, 250);
    }

    #navigation a {
        text-decoration: none;
        color: black;
        font-size: large;
        cursor: pointer;
    }

    #menu {
        max-height: 40px;
        align-self: center;
        margin-left: 0px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
        padding: 5px;
        color: black;
        background-color: transparent;
        font-size: x-large;
    }

    .index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        text-align: center;
        grid-gap: 20px;
        width: 100%;
    }

    section {
        width: 80%;
    }

    #gold {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 10px;
    }

    .gold {
        width: 100%;
    }

    main ul {
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        padding: 2px;
    }

    main li {
        padding: 2px;
    }
}

@media (min-width: 939px) {
    .heading {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;
    }

    #menu {
        display: none;
    }

    nav {
        position: absolute;
        top: 60px;
        right: 10px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    #navigation {
        display: flex;
        flex-direction: row;
    }

    #navigation a {
        text-decoration: none;
        color: black;
        font-size: large;
        cursor: pointer;
    }

    section {
        width: 40%;
    }

    .index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        text-align: center;
        width: 90%;
        justify-self: center;
    }

    #gold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / -1;
        grid-row: span 1;
        grid-gap: 5%;
        padding: 10px 20px 10px 20px;
    }

    main ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        padding: 2px;
    }

    main li {
        padding: 2px;
    }
}

.right-column {
    grid-column: 2 / 3;
}

footer li,
nav li {
    padding-right: 35px;
    list-style-type: none;
}

#navigation a:hover {
    text-decoration: underline;
}

#cards a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(45, 72, 226);
}

.style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    padding: 0 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border: 1px darkgray solid;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.weather {
    border: 1px darkgray solid;
    margin: 3px;
}

section h2 {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    padding: 5px;
    text-align: center;
}

.gold {
    border: 1px darkgray solid;
    justify-self: center;
}

#gold img {
    height: 150px;
    padding: 15px;
    width: 225px;
}

.border {
    border-bottom: 1px darkgray solid;
}

.grid div {
    border: 1px darkgray solid;
    padding-bottom: 3px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    align-items: center;
    border: 1px darkgray solid;
}

.list img {
    display: none;
}

.list div:nth-child(even) {
    background-color: #f2f2f2;
}

.grid img {
    object-fit: cover;
    object-position: center;
    height: 150px;
}

.grid h3 {
    border-bottom: solid gray 2px;
    width: 50%;
    justify-self: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.join {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.join a {
    text-decoration: none;
    font-size: larger;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    justify-self: center;
    text-align: center;
}

footer {
    background-color: rgb(178, 220, 221);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.25fr;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / -1;
}

.info {
    grid-row: span 2;
    align-self: center;
}

.right {
    grid-column: 3 / 4;
}